:root {
	--typography-body: "Poppins";
	--typography-heading: "Poppins";
}

*,
html,
body {
	font-family: var(--typography-body);
}


.custom-slider .slick-prev,
.custom-slider .slick-next {
  z-index: 10;
}
